[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[dev-packages]
bump2version = "*"
pre-commit = "*"
pylint = "*"
setuptools = "*"
twine = "*"
wheel = "*"
yapf = "*"
exam-terminal = {editable = true, path = "."}

[packages]
click = "*"
fpdf2 = "*"
PyYAML = "*"
requests = "*"
windows-curses = {version = "*", platform_system = "== 'Windows'"}
exam-terminal = {editable = false, path = "."}
# See setup.py and requirements.txt for exam-terminal dependencies

[pipenv]
allow_prereleases = true
