[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bump = "*"
pipenv-setup = '*'
exam-terminal = {editable = true, path = "."}

[packages]
Pillow = ">=7.1.0"
exam-terminal = {editable = false, path = "."}

# See setup.py for exam-terminal dependencies